extends layout

block content
  h1(style='margin-top: 100px;') #{translation.AlterFont}
  
  div(style='margin-bottom: 20px;')

  if errors 
    span(style='font-size: 1.2em; font-weight: bold; color: red;')!= errors

  form#alterFtForm(method='POST' action='')
    div.form-group.row
      div.col-sm-12
        span( style='width: 60px; float:left;') #{translation.FONT}
        div.dropdown(style='display: inline; float: left; width: 150px; margin-left: 20px; margin-right: 10px')
          a#atfnt.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{translation.FONT}
          div.dropdown-menu(aria-labelledby='atfnt')
            a.dropdown-item(href='#', onclick='atoggleSurface2("Work Sans","Work Sans");' )
              span(data-label='Work Sans' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Libre Franklin","Libre Franklin");' )
              span(data-label='Libre Franklin' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Inconsolata","Inconsolata");' )
              span(data-label='Inconsolata' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Roboto","roboto");' )
              span(data-label='Roboto' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Mirza","mirza");' )
              span(data-label='Mirza' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Arial","arial");' )
              span(data-label='Arial' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Oswald","Oswald");' )
              span(data-label='Oswald' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Caveat","Caveat");' )
              span(data-label='Caveat' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Raleway","Raleway");' )
              span(data-label='Raleway' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Shadows Into Light","Shadows Into Light");' )
              span(data-label='Shadows Into Light' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Abril Fatface","Abril Fatface");' )
              span(data-label='Abril Fatface' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Teko","Teko");' )
              span(data-label='Teko' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Cormorant","Cormorant");' )
              span(data-label='Cormorant' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Alfa Slab One","Alfa Slab One");' )
              span(data-label='Alfa Slab One' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("PT Sans","PT Sans");' )
              span(data-label='PT Sans' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("나눔 손글씨 펜","Nanum Pen Script");' )
              span(data-label='나눔 손글씨 펜' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("나눔 손글씨 붓","Nanum Brush Script");' )
              span(data-label='나눔 손글씨 붓' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("송명","Song Myung");' )
              span(data-label='송명' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("개구쟁이","Gaegu");' )
              span(data-label='개구쟁이' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("주아","Jua");' )
              span(data-label='주아' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("감자꽃 마을","Gamja Flower");' )
              span(data-label='감자꽃 마을' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("귀여운 폰트","Cute Font");' )
              span(data-label='귀여운 폰트' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("스타일리시","Stylish");' )
              span(data-label='스타일리시' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("연성","Yeon Sung");' )
              span(data-label='연성' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("하이멜로디","Hi Melody");' )
              span(data-label='하이멜로디' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("해바라기","Sunflower");' )
              span(data-label='해바라기' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("검은고딕","Black Han Sans");' )
              span(data-label='검은고딕' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("고딕 A1","Gothic A1");' )
              span(data-label='고딕 A1' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("나눔고딕","Nanum Gothic");' )
              span(data-label='나눔고딕' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("나눔명조","Nanum Myeongjo");' )
              span(data-label='나눔명조' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("서툰이야기","Poor Story");' )
              span(data-label='서툰이야기' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("흑백사진","Black And White Picture");' )
              span(data-label='흑백사진' )
    
    div(style='margin-bottom: 20px;')
    
    div.form-group.row
      div.col-sm-12
        span( style='width: 60px; float:left;') #{translation.FONT} 2
        div.dropdown(style='display: inline; float: left; width: 150px; margin-left: 20px; margin-right: 10px')
          a#atfnt2.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{translation.FONT}
          div.dropdown-menu(aria-labelledby='atfnt2')
            a.dropdown-item(href='#', onclick='atoggleSurface2("Work Sans","Work Sans");' )
              span(data-label='Work Sans' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Libre Franklin","Libre Franklin");' )
              span(data-label='Libre Franklin' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Inconsolata","Inconsolata");' )
              span(data-label='Inconsolata' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Roboto","roboto");' )
              span(data-label='Roboto' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Mirza","mirza");' )
              span(data-label='Mirza' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Arial","arial");' )
              span(data-label='Arial' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Oswald","Oswald");' )
              span(data-label='Oswald' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Caveat","Caveat");' )
              span(data-label='Caveat' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Raleway","Raleway");' )
              span(data-label='Raleway' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Shadows Into Light","Shadows Into Light");' )
              span(data-label='Shadows Into Light' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Abril Fatface","Abril Fatface");' )
              span(data-label='Abril Fatface' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Teko","Teko");' )
              span(data-label='Teko' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Cormorant","Cormorant");' )
              span(data-label='Cormorant' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("Alfa Slab One","Alfa Slab One");' )
              span(data-label='Alfa Slab One' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("PT Sans","PT Sans");' )
              span(data-label='PT Sans' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("나눔 손글씨 펜","Nanum Pen Script");' )
              span(data-label='나눔 손글씨 펜' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("나눔 손글씨 붓","Nanum Brush Script");' )
              span(data-label='나눔 손글씨 붓' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("송명","Song Myung");' )
              span(data-label='송명' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("개구쟁이","Gaegu");' )
              span(data-label='개구쟁이' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("주아","Jua");' )
              span(data-label='주아' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("감자꽃 마을","Gamja Flower");' )
              span(data-label='감자꽃 마을' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("귀여운 폰트","Cute Font");' )
              span(data-label='귀여운 폰트' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("스타일리시","Stylish");' )
              span(data-label='스타일리시' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("연성","Yeon Sung");' )
              span(data-label='연성' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("하이멜로디","Hi Melody");' )
              span(data-label='하이멜로디' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("해바라기","Sunflower");' )
              span(data-label='해바라기' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("검은고딕","Black Han Sans");' )
              span(data-label='검은고딕' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("고딕 A1","Gothic A1");' )
              span(data-label='고딕 A1' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("나눔고딕","Nanum Gothic");' )
              span(data-label='나눔고딕' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("나눔명조","Nanum Myeongjo");' )
              span(data-label='나눔명조' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("서툰이야기","Poor Story");' )
              span(data-label='서툰이야기' )
            a.dropdown-item(href='#', onclick='atoggleSurface2("흑백사진","Black And White Picture");' )
              span(data-label='흑백사진' )
    <input type="hidden" id="hostname" name="hostname" value="#{hostname}" />
    <input type="hidden" id="cfnt" name="cfnt" value="#{user.cfnt}" />
    <input type="hidden" id="cfnt2" name="cfnt2" value="#{user.cfnt2}" />
    <input type="hidden" id="alterFtSuccess" name="alterFtSuccess" value="#{translation.alterFtSuccess}" />
    button#alterFtBtn.btn.btn-primary.btn-sm(type='button') #{translation.Confirm}

  <script src="/js/alterFont.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=ginit" async defer></script>
