extends layout

block content
  h1(style='margin-top: 100px;') #{translation.CREATEBOOK}

  form(method='POST' action='')
    div.form-group.row
      div.col-sm-3
        label(for='title') #{translation.Title}:
        input#title.form-control.form-control-sm(type='text', placeholder='Name of book' name='title' required='true' value=(undefined===book ? '' : book.title) )
    div.form-group.row
      div.col-sm-2
        label(for='author') #{translation.Author}:
        input#author.form-control.form-control-sm(type='text', placeholder='Name of author' name='author' value=(undefined===book ? '' : book.author) required='true' )
    div.form-group.row
      div.col-sm-8
        label(for='summary') #{translation.Summary}:
        input#summary.form-control.form-control-sm(type='textarea', placeholder='Summary' name='summary' value=(undefined===book ? '' : book.summary))
    div.form-group
      label #{translation.Genre}:
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
            label(for=genre._id) #{genre.name}
    button.btn.btn-primary.btn-sm(type='submit' style='margin-bottom: 50px;') #{translation.Submit}

  if errors 
    ul
      for error in errors
        li!= error.msg
  <script src="https://apis.google.com/js/platform.js?onload=ginit" async defer></script>
