extends layout

block content

  h1(style='margin-top:100px;') #[strong #{translation.Title}:] #{book.title}
  
  p #[strong #{translation.Author}:] #{book.author}
  p #[strong #{translation.Summary}:] #{book.summary}
  p #[strong #{translation.Genre}:] 
    each val in book.genre
      a(href=val.url) #{val.name}
      |, 

  hr
  
  if stories.length
  
    p #[strong #{translation.Deletethefollowingstories}]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 #{translation.STORY}
    
        each story in stories
          p
            a(href=story.url) #{story.title}

  else
    p #{translation.Doyoureallywanttodeletebook}
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=book._id )

      button.btn.btn-primary.btn-sm(type='submit') #{translation.Delete}
  <script src="https://apis.google.com/js/platform.js?onload=ginit" async defer></script>