extends layout

block content
  h1(style='margin-top:100px;') #{translation.BookList}
  
  ul.tite
    each book in book_list
      li 
        a(href=book.url) #{book.title} 
        | (#{book.author})

    else
      li #{translation.nobooks}
