extends layout

block content
  h1(style='margin-top: 100px;') #{translation.InitPassword}

  if errors 
    span(style='font-size: 1.2em; font-weight: bold; color: red;')!= errors

  form#forgotPwForm(method='POST' action='')
    div.form-group.row
      div.col-sm-2
        label(for='email') #{translation.Email}
        input.form-control(type='text' id='email' placeholder='email' name='email')
    <input type="hidden" id="hostname" name="hostname" value="#{hostname}" />
    <input type="hidden" id="requireField" name="requireField" value="#{translation.requireField}" />
    <input type="hidden" id="noEmail" name="noEmail" value="#{translation.noEmail}" />
    <input type="hidden" id="forgotPwSuccess" name="forgotPwSuccess" value="#{translation.forgotPwSuccess}" />
    button#forgotPwBtn.btn.btn-primary(type='button') #{translation.Confirm}

  <script src="/js/forgotPassword.js"></script>
