extends layout

block content

  h1(style='margin-top:100px;') #{translation.Genre}: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 #{translation.BOOK}
    
    dl
    each book in genre_books
      dt 
        a(href=book.url) #{book.title}
      dd #{book.summary}

    else
      p #{translation.nobooks}

    h4 #{translation.STORY}
    
    dl
    each story in genre_stories
      dt 
        a(href=story.url) #{story.title}

    else
      p #{translation.nostories}
      
  hr
  p
    a(href=genre.url+'/delete') #{translation.DeleteGenre}
  p
    a(href=genre.url+'/update') #{translation.UpdateGenre}
  <script src="https://apis.google.com/js/platform.js?onload=ginit" async defer></script>