extends layout

block content

  if cert == 'OK'
    h1(style='margin-top: 100px;') #{translation.createStorynow}
  else
    h1(style='margin-top: 100px;') #{name} #{translation.WELCOME_MSG}
    br
    h2 #{translation.Makeyourownstories}
    br
    h2 #{translation.Mycontents}
  
    if error
      p Error getting dynamic content.
    else

      p #{translation.recordcounts}

      ul.tite
        li(style='font-weight: bold;') #{translation.BOOK} &nbsp;&nbsp;
          a(href='/catalog/books') !{data.book_count}
        li(style='font-weight: bold;') #{translation.STORY} &nbsp;&nbsp;
          a(href='/catalog/stories') !{data.story_count}
        li(style='font-weight: bold;') #{translation.GENRE} &nbsp;&nbsp;
          a(href='/catalog/genres') !{data.genre_count}

      if data.history
        p #{translation.history}
        ul.tite
          each his in data.history
            li 
              a(href=his.url) #{his.story.title}          

      p #{translation.firstGenreCreate}
      br
      h2 #{translation.HowToUse}
      ul
        li(style='font-weight: bold;') #{translation.HowToUse2}
        li(style='font-weight: bold;') #{translation.HowToUse3}
        li(style='font-weight: bold;') #{translation.HowToUse4}
        li(style='font-weight: bold;') #{translation.HowToUse5}
        li(style='font-weight: bold;') #{translation.HowToUse6}
        li(style='font-weight: bold;') #{translation.HowToUse7}
        li(style='font-weight: bold;') #{translation.HowToUse8}
        li(style='font-weight: bold;') #{translation.HowToUse9}
        li(style='font-weight: bold; color: blue;') #{translation.browser}
        li(style='font-weight: bold; color: blue;') #{translation.HowToUse10}
        li(style='font-weight: bold; color: blue;') #{translation.HowToUse11}
        li(style='font-weight: bold; color: blue;') #{translation.HowToUseStory10}
        li(style='font-weight: bold; color: blue;') #{translation.HowToUseStory11}
      <input type="hidden" id="cfnt" name="cfnt" value="#{cfnt}" />
      <input type="hidden" id="userEmail" name="userEmail" value="#{userEmail}" />
    <script src="/js/idx.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=ginit" async defer></script>