doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    script(src='/js/practice.js')
    script(src='/js/lyjs.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/practice.css')
    link(rel="stylesheet", href='https://cdn.quilljs.com/1.3.6/quill.snow.css')
  body
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
      <a class="navbar-brand" href="/catalog/">#{translation.HOME}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          li.nav-item
            a.nav-link(href='/catalog/books') #{translation.BOOK}
          li.nav-item
            a.nav-link(href='/catalog/stories') #{translation.STORY}
          li.nav-item
            a.nav-link(href='/catalog/genres') #{translation.GENRE}
          li.nav-item
            a.nav-link(href='/catalog/story_open_list') #{translation.BOARD}
          if pc
            li.nav-item
              a.nav-link(href='/catalog/book/create') #{translation.CREATEBOOK}
            li.nav-item
              a.nav-link(href='/catalog/story/create') #{translation.CREATESTORY}
            li.nav-item
              a.nav-link(href='/catalog/genre/create') #{translation.CREATEGENRE}
          li.nav-item.dropdown
              a#lang.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{translation.LANGUAGE}
              div.dropdown-menu(aria-labelledby='lang')
                a.dropdown-item(href='/catalog?clang=en' ) ENGLISH
                a.dropdown-item(href='/catalog?clang=ko' ) 한글
          if user
            li.nav-item
              a.nav-link(href='/user/logout') #{translation.LOGOUT}
          else
            li.nav-item
              a.nav-link(href='/user/login') #{translation.LOGIN}
            li.nav-item 
              a.nav-link(href='/user/registration') #{translation.SIGNUP}
        </ul>
      </div>
    </nav>
    
    div(class='container-fluid')
      div(class='row')
        div(class='col-lg-12')
          block content
