doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <meta name="google-signin-client_id" content="829220596871-tkcc5nujoge6trq2ls28rsc0bge9cp5q.apps.googleusercontent.com">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.tooltipster/4.0.5/css/tooltipster.bundle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.tooltipster/4.0.5/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.tooltipster/4.0.5/js/tooltipster.bundle.min.js"></script>
    script(src='/js/practice.js')
    script(src='/js/lyjs.js')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/practice.css')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" />
    link(rel="stylesheet", href='https://cdn.quilljs.com/1.3.6/quill.snow.css')
  body(style=(undefined===cfnt ? (undefined===cfwt ? (undefined===cfnt2 ? '' : 'font-family:'+cfnt2) : (undefined===cfnt2 ? 'font-weight:'+cfwt : 'font-family:'+cfnt2+'; font-weight:'+cfwt)) : (undefined===cfwt ? (undefined===cfnt2 ? 'font-weight:'+cfwt+'; font-family:'+cfnt : 'font-family:'+cfnt+', '+cfnt2+'; font-weight:'+cfwt) : (undefined===cfnt2 ? 'font-family:'+cfnt+';font-weight:'+cfwt : 'font-family:'+cfnt+', '+cfnt2+'; font-weight:'+cfwt))))
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
      <a class="navbar-brand" href="/catalog/">#{translation.HOME}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          li.nav-item
            a.nav-link(href='/catalog/books') #{translation.BOOK}
          li.nav-item
            a.nav-link(href='/catalog/stories') #{translation.STORY}
          li.nav-item
            a.nav-link(href='/catalog/genres') #{translation.GENRE}
          li.nav-item
            a.nav-link(href='/catalog/story_open_list') #{translation.BOARD}
          li.nav-item
            a.nav-link(href='/catalog/word_board_list') #{translation.Words}
          if pc
            li.nav-item
              a.nav-link(href='/catalog/book/create') #{translation.CREATEBOOK}
            li.nav-item
              a.nav-link(href='/catalog/story/create') #{translation.CREATESTORY}
            li.nav-item
              a.nav-link(href='/catalog/genre/create') #{translation.CREATEGENRE}
          li.nav-item.dropdown
              a#lang.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{translation.LANGUAGE}
              div.dropdown-menu(aria-labelledby='lang')
                a.dropdown-item(href='/catalog?clang=en' ) ENGLISH
                a.dropdown-item(href='/catalog?clang=ko' ) 한글
          if user
            li.nav-item.dropdown
                a#fnt.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{translation.FONT}
                div.dropdown-menu(aria-labelledby='fnt')
                  a.dropdown-item(href='/catalog?cfnt=Work+Sans' )
                    span(data-label='Work Sans' )
                  a.dropdown-item(href='/catalog?cfnt=Libre+Franklin' )
                    span(data-label='Libre Franklin' )
                  a.dropdown-item(href='/catalog?cfnt=Inconsolata' )
                    span(data-label='Inconsolata' )
                  a.dropdown-item(href='/catalog?cfnt=roboto' )
                    span(data-label='Roboto' )
                  a.dropdown-item(href='/catalog?cfnt=mirza' )
                    span(data-label='Mirza' )
                  a.dropdown-item(href='/catalog?cfnt=arial' )
                    span(data-label='Arial' )
                  a.dropdown-item(href='/catalog?cfnt=Oswald' )
                    span(data-label='Oswald' )
                  a.dropdown-item(href='/catalog?cfnt=Caveat' )
                    span(data-label='Caveat' )
                  a.dropdown-item(href='/catalog?cfnt=Raleway' )
                    span(data-label='Raleway' )
                  a.dropdown-item(href='/catalog?cfnt=Shadows+Into+Light' )
                    span(data-label='Shadows Into Light' )
                  a.dropdown-item(href='/catalog?cfnt=Abril+Fatface' )
                    span(data-label='Abril Fatface' )
                  a.dropdown-item(href='/catalog?cfnt=Teko' )
                    span(data-label='Teko' )
                  a.dropdown-item(href='/catalog?cfnt=Cormorant' )
                    span(data-label='Cormorant' )
                  a.dropdown-item(href='/catalog?cfnt=Alfa+Slab+One' )
                    span(data-label='Alfa Slab One' )
                  a.dropdown-item(href='/catalog?cfnt=PT+Sans' )
                    span(data-label='PT Sans' )
                  a.dropdown-item(href='/catalog?cfnt=Nanum+Pen+Script' )
                    span(data-label='나눔 손글씨 펜' )
                  a.dropdown-item(href='/catalog?cfnt=Nanum+Brush+Script' )
                    span(data-label='나눔 손글씨 붓' )
                  a.dropdown-item(href='/catalog?cfnt=Song+Myung' )
                    span(data-label='송명' )
                  a.dropdown-item(href='/catalog?cfnt=Gaegu' )
                    span(data-label='개구쟁이' )
                  a.dropdown-item(href='/catalog?cfnt=Jua' )
                    span(data-label='주아' )
                  a.dropdown-item(href='/catalog?cfnt=Gamja+Flower' )
                    span(data-label='감자꽃 마을' )
                  a.dropdown-item(href='/catalog?cfnt=Cute+Font' )
                    span(data-label='귀여운 폰트' )
                  a.dropdown-item(href='/catalog?cfnt=Stylish' )
                    span(data-label='스타일리시' )
                  a.dropdown-item(href='/catalog?cfnt=Yeon+Sung' )
                    span(data-label='연성' )
                  a.dropdown-item(href='/catalog?cfnt=Hi+Melody' )
                    span(data-label='하이멜로디' )
                  a.dropdown-item(href='/catalog?cfnt=Sunflower' )
                    span(data-label='해바라기' )
                  a.dropdown-item(href='/catalog?cfnt=Black+Han+Sans' )
                    span(data-label='검은고딕' )
                  a.dropdown-item(href='/catalog?cfnt=Gothic+A1' )
                    span(data-label='고딕 A1' )
                  a.dropdown-item(href='/catalog?cfnt=Nanum+Gothic' )
                    span(data-label='나눔고딕' )
                  a.dropdown-item(href='/catalog?cfnt=Nanum+Myeongjo' )
                    span(data-label='나눔명조' )
                  a.dropdown-item(href='/catalog?cfnt=Poor+Story' )
                    span(data-label='서툰이야기' )
                  a.dropdown-item(href='/catalog?cfnt=Black+And+White+Picture' )
                    span(data-label='흑백사진' )
            li.nav-item.dropdown
                a#fwt.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{translation.WEIGHT}
                div.dropdown-menu(aria-labelledby='fwt')
                  a.dropdown-item(href='/catalog?cfwt=100' )
                    span(data-label='100' )
                  a.dropdown-item(href='/catalog?cfwt=200' )
                    span(data-label='200' )
                  a.dropdown-item(href='/catalog?cfwt=300' )
                    span(data-label='300' )
                  a.dropdown-item(href='/catalog?cfwt=normal' )
                    span(data-label='normal' )
                  a.dropdown-item(href='/catalog?cfwt=500' )
                    span(data-label='500' )
                  a.dropdown-item(href='/catalog?cfwt=600' )
                    span(data-label='600' )
                  a.dropdown-item(href='/catalog?cfwt=bold' )
                    span(data-label='bold' )
                  a.dropdown-item(href='/catalog?cfwt=800' )
                    span(data-label='800' )
                  a.dropdown-item(href='/catalog?cfwt=900' )
                    span(data-label='900' )
            li.nav-item
              a.nav-link(href='#none' onclick='leave();return false;') #{translation.LOGOUT}
            li.nav-item
              a.nav-link(href='/catalog/alter_password') #{translation.AlterPassword}
            li.nav-item
              a.nav-link(href='/catalog/alter_name') #{translation.AlterName}
            li.nav-item
              a.nav-link(href='/catalog/alter_font') #{translation.AlterFont}
            li.nav-item
              a.nav-link(href='/catalog/stories/withdrawal') #{translation.Withdrawal}
          else
            li.nav-item
              a.nav-link(href='/user/login') #{translation.LOGIN}
            li.nav-item 
              a.nav-link(href='/user/registration') #{translation.SIGNUP}
          li.nav-item 
            a.nav-link(href='/catalog/privacy_policy') #{translation.PrivacyPolicy}
        </ul>
      </div>
    </nav>
    <input type="hidden" id="pc" name="pc" value="#{pc}" />
    div(class='container-fluid')
      div(class='row')
        div(class='col-lg-12')
          block content
