extends layout

block content
  h1(style='margin-top: 100px;') #{translation.LOGIN}

  if errors 
    span(style='font-size: 1.2em; font-weight: bold; color: red;')!= errors

  form(method='POST' action='' id='userForm' name='userForm')
    div.form-group.row
      div.col-sm-4
        label(for='email') #{translation.Email}
        input.form-control(type='text' id='email' placeholder='email' name='email')
    div.form-group.row
      div.col-sm-4
        label(for='password') #{translation.Password}
        input.form-control(type='password' id='password' placeholder='password' name='password')
    button.btn.btn-primary(type='submit') #{translation.LOGIN}
  
  <div id="my-signin2" style="margin-top: 30px;"></div>
  br
  a(href='/user/forgot_password') #{translation.forgotPw}
  <script src="/js/login.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
