mixin petslist(comment)
  - var cyn = ''
  if comment.comments != ''
    - cyn = 'Y'
  <div class="comment-indent">
    <span>#{comment.user.name}</span>
    <div style="display: inline; float: right;">
      <span id="s_#{comment._id}" onclick="viewR(this);" class="replyB">#{translation.Reply}</span>
      <span id="u_#{comment._id}" onclick="viewU(this, '#{userId}');" class="replyB">#{translation.Update}</span>
      <span id="t_#{comment._id}" onclick="viewT(this, '#{userId}');" class="replyB">#{translation.Delete}</span>
    </div>
    <div id="c_#{comment._id}">#{comment.content}</div>
    <div id="d_#{comment._id}" style="display: none;">
      <form id="cmf_#{comment._id}" method="post" action="/catalog/story/#{story._id}/comments/#{comment._id}/replies">
        <div class="form-group">
          <textarea name="content" class="form-control" id="r_#{comment._id}" placeholder="Reply"></textarea>
        </div>

        <div class='text-right'>
          <button id="b_#{comment._id}" onclick="smf2('#{comment._id}');return false;" class="btn btn-primary">#{translation.Save}</button>
        </div>
        <input type="hidden" id="sfkb" name="sfkb" value="#{story._id}" />
        <input type="hidden" id="cyn_#{comment._id}" name="cyn" value="#{cyn}" />
        <input type="hidden" id="cgb_#{comment._id}" name="cgb" value="R" />
        <input type="hidden" id="uid_#{comment._id}" name="uid" value="#{comment.user._id}" />
      </form>
    </div>
    if comment.comments
      each cmt in comment.comments
        +petslist(cmt)
  </div>