extends layout

block content

  h2(style='margin-top: 100px;') #{translation.PrivacyPolicy}
  br
  h4 #{translation.PrivacyPolicy2}
  br
  ul
    li(style='font-weight: bold;') #{translation.PrivacyPolicy3}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy4}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy5}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy6}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy7}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy8}
