extends layout

block content

  h2(style='margin-top: 100px;') #{translation.PrivacyPolicy}
  br
  h4 #{translation.PrivacyPolicy2}
  br
  ul
    li(style='font-weight: bold;') #{translation.PrivacyPolicy3}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy4}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy5}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy6}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy7}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy8}
  br
  h4 #{translation.PrivacyPolicy9}
  br
  h4 #{translation.PrivacyPolicy10}
  br
  ul
    li(style='font-weight: bold;') #{translation.PrivacyPolicy11}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy12}
  br
  h4 #{translation.PrivacyPolicy13}
  br
  ul
    li(style='font-weight: bold;') #{translation.PrivacyPolicy14}
  br
  h4 #{translation.PrivacyPolicy15}
  br
  ul
    li(style='font-weight: bold;') #{translation.PrivacyPolicy16}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy17}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy18}
  br
  h4 #{translation.PrivacyPolicy19}
  br
  ul
    li(style='font-weight: bold;') #{translation.PrivacyPolicy20}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy21}
  br
  h4 #{translation.PrivacyPolicy22}
  br
  ul
    li(style='font-weight: bold;') #{translation.PrivacyPolicy23}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy24}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy25}
    li(style='font-weight: bold;') #{translation.PrivacyPolicy26}
