extends layout

block content
	h1(style='margin-top:100px;') #{translation.StoryList}
	
	table(class='table table-striped table-hover table-condensed' style='margin-top: 10px;')
		thead
			tr
				th(width='80%') #{translation.Title}
				th(width='20%') #{translation.Writer}
		tbody.wtd
			if story_list
				each story in story_list
					tr
						td
							a(href=story.url) !{story.title}
						td
							span #{story.user.name}
			else
				tr
					td(colspan='2')
						#{translation.nostories}
	<input type="hidden" id="mxcnt" name="mxcnt" value="#{mxcnt}" />
	<input type="hidden" id="ct" name="ct" value="#{ct}" />
	<input type="hidden" id="hostname" name="hostname" value="#{hostname}" />
	<script src="/js/storyOpen.js"></script>		