extends layout

block content

  h1 #{title}: #{story.title}
  
  p #[strong Content:]
  div(id='cntn')
  input#content.form-control(type='hidden', name='content' value=(undefined===story ? '' : story.content) )
  p #[strong Genre:] 
    each val in story.genre
      a(href=val.url) #{val.name}
      |, 

  hr
  
  p Do you really want to delete this Story?
    
  form(method='POST' action='')
    div.form-group
      input#id.form-control(type='hidden',name='id', required='true', value=story._id )

    button.btn.btn-primary(type='submit') Delete
  <script src="/js/storyDelete.js"></script>