extends layout

block content
	h1(style='margin-top:100px;') #{translation.StoryList}
	
	table(class='table table-striped table-hover table-condensed' style='margin-top: 10px;')
		thead
			tr
				th(width='70%') #{translation.Title}
				th(width='10%') #{translation.Writer}
				th(width='10%') #{translation.favs}
				th(width='10%') #{translation.rcnt}
		tbody.wtd
			if story_list
				each story in story_list
					tr
						td
							a(href=story.url+'?open=Y') !{story.title}
							span(style='margin-left:50px;') #{story.cct}
						td
							span #{story.user.name}
						td
							span #{story.favs}
						td
							span #{story.rcnt}
			else
				tr
					td(colspan='3')
						#{translation.nostories}
	<input type="hidden" id="mxcnt" name="mxcnt" value="#{mxcnt}" />
	<input type="hidden" id="ct" name="ct" value="#{ct}" />
	<input type="hidden" id="hostname" name="hostname" value="#{hostname}" />
	<script src="/js/storyOpen.js"></script>		