doctype html
html(lang='en')
  head
    <title>!{story.title}</title>
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    script(src='/js/practice.js')
    script(src='/js/stjs.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/practice.css')
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  body
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar" style="background-color:#e74c3c!important;">
      <a class="navbar-brand" href="/catalog/">#{translation.HOME}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          if story.book
            li.nav-item.dropdown
              a#story.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{translation.STORYINDEX}
              div#index.dropdown-menu(aria-labelledby='story')
          if pc
            if story.open != 'Y'
              li.nav-item
                a.nav-link(href='#none' onclick='ReadingOnly();return false;') #{translation.Reading}
              li.nav-item
                a.nav-link(href='#none' onclick='ReadingSearch();return false;') #{translation.DicSearch}
              li.nav-item
                a.nav-link(href='#none' onclick='ReadingPractice();return false;') #{translation.Practice}
              li.nav-item
                a.nav-link(href='#none' onclick='showWordLayer();return false;') #{translation.Words}
              li.nav-item
                a.nav-link(href='#none' onclick='hideWordLayer();return false;') #{translation.Memo}
            else
              li.nav-item
                a.nav-link(href='#none' onclick='ReadingOnly();return false;') #{translation.Reading}
            li.nav-item
              a.nav-link(href='#none' onclick='CreateStory();return false;') #{translation.Create}
            li.nav-item
              <a class="nav-link" href="#none" onclick="UpdateStory('#{story.user}', '#{userId}');return false;">#{translation.Update}</a>
            li.nav-item
              <a class="nav-link" href="#none" onclick="DeleteStory('#{story.user}', '#{userId}');return false;">#{translation.Delete}</a>
          li.nav-item
            a.nav-link(href='/catalog/books') #{translation.BOOK}
          li.nav-item
            a.nav-link(href='/catalog/stories') #{translation.STORY}
          li.nav-item
            a.nav-link(href='/catalog/story_open_list') #{translation.BOARD}
          if user
            li.nav-item
              a.nav-link(href='/user/logout') #{translation.LOGOUT}
          else
            li.nav-item
              a.nav-link(href='/user/login') #{translation.LOGIN}
            li.nav-item 
              a.nav-link(href='/user/registration') #{translation.SIGNUP}
        </ul>
      </div>
    </nav>
      
    div(class='container-fluid')
      div#jb_content.col-lg-12
        div.ql-editor
          p(style='font-weight:bold;font-size: 2.5em;margin-top:30px;') #{story.title}<br/><br/>
          if story.author 
            p #{translation.by} #{story.author}<br/><br/>
          if story.reference 
            p #{translation.Reference}: #{story.reference}<br/><br/>
          div !{story.content}
        if story.open == 'Y'
          <form method="post" action="/catalog/story/#{story._id}/comments/replies">
            <div class="form-group">
              <textarea name="content" class="form-control" id="reply-content" placeholder="Reply"></textarea>
            </div>
            <div class='text-right'>
              <button type="submit" class="btn btn-primary">#{translation.Reply}</button>
            </div>
            <input type="hidden" id="sfkb" name="sfkb" value="#{story._id}" />
          </form>
          if comments
            for comment in comments
              - var cyn = ''
              if comment.comments != ''
                - cyn = 'Y'
              <span>#{comment.user.name}</span>
              <div style="display: inline; float: right;">
                <span id="s_#{comment._id}" onclick="viewR(this);" class="replyB">#{translation.Reply}</span>
                <span id="u_#{comment._id}" onclick="viewU(this, '#{userId}');" class="replyB">#{translation.Update}</span>
                <span id="t_#{comment._id}" onclick="viewT(this, '#{userId}');" class="replyB">#{translation.Delete}</span>
              </div>
              <div id="c_#{comment._id}">#{comment.content}</div>
              <div id="d_#{comment._id}" style="display: none;">
                <form method="post" action="/catalog/story/#{story._id}/comments/#{comment._id}/replies">
                  <div class="form-group">
                    <textarea name="content" class="form-control" id="r_#{comment._id}" placeholder="Reply"></textarea>
                  </div>
                  <div class='text-right'>
                    <button id="b_#{comment._id}" type="submit" class="btn btn-primary">#{translation.Reply}</button>
                  </div>
                  <input type="hidden" id="sfkb" name="sfkb" value="#{story._id}" />
                  <input type="hidden" id="cyn_#{comment._id}" name="cyn" value="#{cyn}" />
                  <input type="hidden" id="cgb_#{comment._id}" name="cgb" value="R" />
                  <input type="hidden" id="uid_#{comment._id}" name="uid" value="#{comment.user._id}" />
                </form>
              </div>
              if comment.comments != ''
                each cmt in comment.comments
                  include pets-partial
                  +petslist(cmt)

      div#jb_txtEditor.col-lg-4
        div.standalone-container
          <div id="toolbar-container" class="ql-toolbar ql-snow">
              <span class="ql-formats">
                  <select class="ql-font" style="width: 150px;">
                      <option selected="">Sans Serif</option>
                      <option value="LibreFranklin">Libre Franklin</option>
                      <option value="inconsolata">Inconsolata</option>
                      <option value="roboto">Roboto</option>
                      <option value="mirza">Mirza</option>
                      <option value="arial">Arial</option>
                      <option value="NanumPenScript">Nanum Pen Script</option>
                      <option value="Oswald">Oswald</option>
                      <option value="ShadowsIntoLight">Shadows Into Light</option>
                      <option value="AbrilFatface">Abril Fatface</option>
                      <option value="Teko">Teko</option>
                      <option value="Cormorant">Cormorant</option>
                      <option value="AlfaSlabOne">Alfa Slab One</option>
                  </select>
              </span>
              <span class="ql-formats">
                  <select class="ql-header"></select>
                  <select class="ql-size"></select>
              </span>
              <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
              </span>
              <span class="ql-formats">
                  <select class="ql-color">
                      <option selected></option>
                      <option value="red"></option>
                      <option value="orange"></option>
                      <option value="yellow"></option>
                      <option value="green"></option>
                      <option value="blue"></option>
                      <option value="purple"></option>
                  </select>
                  <select class="ql-background">
                      <option selected></option>
                      <option value="red"></option>
                      <option value="orange"></option>
                      <option value="yellow"></option>
                      <option value="green"></option>
                      <option value="blue"></option>
                      <option value="purple"></option>
                  </select>
              </span>
              <span class="ql-formats">
                  <button class="ql-script" value="sub"></button>
                  <button class="ql-script" value="super"></button>
              </span>
              <span class="ql-formats">
                  <button class="ql-blockquote"></button>
                  <button class="ql-code-block"></button>
              </span>
              <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <select class="ql-align"></select>
              </span>
              <span class="ql-formats">
                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                  <button class="ql-formula"></button>
              </span>
              <span class="ql-formats">
                  <button class="ql-indent" value="-1"></button>
                  <button class="ql-indent" value="+1"></button>
                  <button class="ql-direction" value="rtl"></button>
                  <button class="ql-clean"></button>
              </span>
          </div>          
          div#snow-container
          <!--<br><span>파일명: </span><input type="text" id="fileName">-->
          <br/><button type="button" value="save" id="save">#{translation.Save}</button>&nbsp;&nbsp;&nbsp;#{translation.afteradd}
          <!--<span>예시) 파일명이 englishow 이면 englishow.html로 저장됨.</span>-->
      div#word_container.col-lg-4
        <button type="button" id="wordSave">#{translation.Save}</button>&nbsp;&nbsp;&nbsp;#{translation.checkedwordsonly}&nbsp;&nbsp;&nbsp;
        <button type="button" id="wordDelete">#{translation.Delete}</button>&nbsp;&nbsp;&nbsp;
        table(class='table table-striped table-bordered table-hover table-condensed' style='margin-top: 10px;')
          thead
            tr
              th(style='text-align: center;')
                input#checkall(type='checkbox')
              th #{translation.Title}
              th #{translation.Content}
          tbody.wtd
            each word, i in word_list
              tr
                td(style='text-align: center;') 
                  input(type='checkbox' class='wList' value=word._id)
                td
                  input(type='text' size='15' maxlength='30' class='ipt' value=word.title)
                td
                  textarea(class='txt' rows='3' cols='45') #{word.content}
        <button type="button" id="wordAdd">#{translation.Add}</button>&nbsp;&nbsp;&nbsp;#{translation.afteradd}
      div#jb_sidebar.col-lg-4
        <span>#{translation.dictionary} : </span>
        <select name="dicType" id="dicType" style="margin-right: 5px;">
          <option value="3">#{translation.englishkorea}</option>
          <!--<option value="4">Daum Dictionary</option>-->
          <!--<option value="2">english english</option>-->
          <option value="1">Merriam Webster</option>  
        <input type="hidden" id="story_id" name="story_id" value="#{story._id}" />
        <input type="hidden" id="book" name="book" value="#{story.book}" />
        <input type="hidden" id="memo" name="memo" value="#{memo}" />
        <input type="hidden" id="memo_id" name="memo_id" value="#{memo_id}" />
        <input type="hidden" id="hostname" name="hostname" value="#{hostname}" />
        <input type="text" id="searchWord" name="searchWord" style="width:150px" />
        | &nbsp;&nbsp;&nbsp;
        <input type="button" id="searchWordButton" value="#{translation.Search}"/>
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
        <input type="checkbox" id="myCheck"> 
        | #{translation.ImageSearch}   
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <iframe id="dic_frame" src="https://c.merriam-webster.com/coredictionary/"></iframe>

    <div id="img_layer" style="display:none;position:fixed;left:34%;top:60px;width:500px;height:90%;overflow:auto;background:#fff;z-index: 3;">
      <button type="button" style="position:relative;left:230px;width:50px; "onclick="javascript:$('#img_layer').css('display','none');">#{translation.Close}</button>
      <div id="show_img"></div>
      <button type="button" style="position:relative;left:230px;width:50px; "onclick="javascript:$('#img_layer').css('display','none');">#{translation.Close}</button>
    </div>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/js/quill_setting.js"></script>
  