extends layout

block content

  h1(style='margin-top:100px;') #{title}: #{story.title}
  
  p #[strong #{translation.Content}:]
  div.ql-editor(id='cntn')
  input#content.form-control(type='hidden', name='content' value=(undefined===story ? '' : story.content) )
  p #[strong Genre:] 
    each val in story.genre
      a(href=val.url) #{val.name}
      |, 

  hr
  
  p #{translation.Doyoureallywanttodeletestory}
    
  form(method='POST' action='')
    div.form-group
      input#id.form-control(type='hidden',name='id', required='true', value=story._id )

    button.btn.btn-primary(type='submit') #{translation.Delete}
  div(style='margin-bottom: 50px;') &nbsp;
  <script src="/js/storyDelete.js"></script>