extends layout

block content
  h1(style='margin-top: 100px;')= title

  form(method='POST' action='' id='storyForm' name='storyForm')
    div.form-group.row
      div.col-sm-3
        label(for='book') Book:
        select#book.form-control(type='select', placeholder='Select book' name='book' )
          if !story
            option(value='') story only
          else
            if !story.book
              option(value='' selected='selected') story only
          for book in books
            if story
              if story.book
                option(value=book._id selected=(book._id.toString()==story.book._id.toString() ? 'selected' : false) ) #{book.title}
              else
                if bok
                  option(value=book._id selected=(book._id.toString()==bok.toString() ? 'selected' : false) ) #{book.title}
                else
                  option(value=book._id) #{book.title}
            else
              if bok
                option(value=book._id selected=(book._id.toString()==bok.toString() ? 'selected' : false) ) #{book.title}
              else
                option(value=book._id) #{book.title}
    div.form-group.row
      div.col-sm-3
        label(for='title') Title:
        input#title.form-control(type='text', placeholder='Name of story' name='title' required='true' value=(undefined===story ? '' : story.title) )
    
    div.form-group.row.boko
      div.col-sm-1
        label(for='order') Order:
        input#order.form-control(type='text', placeholder='Order of story' name='order' value=(undefined===story ? '' : story.order) )
    
    div.form-group.row.stro
      div.col-sm-2
        label(for='author') Author:
        input#author.form-control(type='text', placeholder='Author of story' name='author' value=(undefined===story ? '' : story.author) )

    div.form-group.row.stro
      div.col-sm-3
        label(for='reference') Reference:
        input#reference.form-control(type='text', placeholder='Reference of story' name='reference' value=(undefined===story ? '' : story.reference) )
    
    div.form-group.stro
      label Genre:
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', class='gne', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
            label(for=genre._id) #{genre.name}
    
    div.form-group.row
      div.col-sm-6
        label(for='Content') Content:
        <div id="toolbar-container" class="ql-toolbar ql-snow">
            <span class="ql-formats">
                <select class="ql-font" style="width: 150px;">
                    <option selected="">Sans Serif</option>
                    <option value="LibreFranklin">Libre Franklin</option>
                    <option value="inconsolata">Inconsolata</option>
                    <option value="roboto">Roboto</option>
                    <option value="mirza">Mirza</option>
                    <option value="arial">Arial</option>
                    <option value="NanumPenScript">Nanum Pen Script</option>
                    <option value="Oswald">Oswald</option>
                    <option value="ShadowsIntoLight">Shadows Into Light</option>
                    <option value="AbrilFatface">Abril Fatface</option>
                    <option value="Teko">Teko</option>
                </select>
            </span>
            <span class="ql-formats">
                <select class="ql-header"></select>
                <select class="ql-size"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
                <select class="ql-color">
                    <option selected></option>
                    <option value="red"></option>
                    <option value="orange"></option>
                    <option value="yellow"></option>
                    <option value="green"></option>
                    <option value="blue"></option>
                    <option value="purple"></option>
                </select>
                <select class="ql-background">
                    <option selected></option>
                    <option value="red"></option>
                    <option value="orange"></option>
                    <option value="yellow"></option>
                    <option value="green"></option>
                    <option value="blue"></option>
                    <option value="purple"></option>
                </select>
            </span>
            <span class="ql-formats">
                <button class="ql-script" value="sub"></button>
                <button class="ql-script" value="super"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-blockquote"></button>
                <button class="ql-code-block"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <select class="ql-align"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-link"></button>
                <button class="ql-image"></button>
                <button class="ql-formula"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-indent" value="-1"></button>
                <button class="ql-indent" value="+1"></button>
                <button class="ql-direction" value="rtl"></button>
                <button class="ql-clean"></button>
            </span>
        </div>        
        div#snow-container(spellcheck='false')
        input#content.form-control(type='hidden', name='content' value=(undefined===story ? '' : story.content) )

    button.btn.btn-primary(type='submit', onclick='storyPost();return false;' style='margin-bottom: 50px;') Submit
    <input type="hidden" id="hostname" name="hostname" value="#{hostname}" />

  if errors 
    ul
      for error in errors
        li!= error.msg

  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="/js/quill_setting.js"></script>
  <script src="/js/storyUpdate.js"></script>
