extends layout2

block content
	h1(style='margin-top:100px;') #{translation.WordList}
	h5(style='margin-top:20px; color:#800080;') #{translation.OpenTipWords}
	<table id="searchResults" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				th(width='3%') #{translation.Rownum}
				th(width='60%') #{translation.Sentence}
				th(width='15%') #{translation.Story}
				th(width='15%') #{translation.Book}
				th(width='7%') #{translation.CreateDate}
			</tr>
		</thead>
		<tfoot>
			<tr>
				th(width='3%') #{translation.Rownum}
				th(width='60%') #{translation.Sentence}
				th(width='15%') #{translation.Story}
				th(width='15%') #{translation.Book}
				th(width='7%') #{translation.CreateDate}
			</tr>
		</tfoot>
	</table>
	<input type="hidden" id="searchWord" name="searchWord" value="#{searchWord}" />
	<script src="/js/storyWordList.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=ginit" async defer></script>