extends layout

block content
  h1(style='margin-top: 100px;') #{translation.CREATESTORY}

  if errors 
    br
    ul
      for error in errors
        li(style='font-size: 1.2em; font-weight: bold; color: red;')!= error.msg
  
  form(method='POST' action='' id='storyForm' name='storyForm')
    div.form-group.row
      div.col-sm-3
        label(for='book') #{translation.Book}:
        select#book.form-control(type='select', placeholder='Select book' name='book' )
          if !story
            option(value='') #{translation.storyonly}
          else
            if !story.book
              option(value='' selected='selected') #{translation.storyonly}
          for book in books
            if story
              if story.book
                option(value=book._id selected=(book._id.toString()==story.book._id.toString() ? 'selected' : false) ) #{book.title}
              else
                if bok
                  option(value=book._id selected=(book._id.toString()==bok.toString() ? 'selected' : false) ) #{book.title}
                else
                  option(value=book._id) #{book.title}
            else
              if bok
                option(value=book._id selected=(book._id.toString()==bok.toString() ? 'selected' : false) ) #{book.title}
              else
                option(value=book._id) #{book.title}
    div.form-group.row
      div.col-sm-4
        label(for='title') #{translation.Title}:
        input#title.form-control(type='text', style='display: inline; width: 400px; margin-right: 10px', placeholder='Name of story' name='title' required='true' value=(undefined===story ? '' : story.title) )
        <select name="title_font" class="ql-font" style="display: inline; float: right; width: 150px;">
          <option class="ql-font-SansSerif" value="SansSerif" selected>Sans Serif</option>
          <option class="ql-font-LibreFranklin" value="LibreFranklin">Libre Franklin</option>
          <option class="ql-font-inconsolata" value="inconsolata">Inconsolata</option>
          <option class="ql-font-roboto" value="roboto">Roboto</option>
          <option class="ql-font-mirza" value="mirza">Mirza</option>
          <option class="ql-font-arial" value="arial">Arial</option>
          <option class="ql-font-Oswald" value="Oswald">Oswald</option>
          <option class="ql-font-Caveat" value="Caveat">Caveat</option>
          <option class="ql-font-Raleway" value="Raleway">Raleway</option>
          <option class="ql-font-ShadowsIntoLight" value="ShadowsIntoLight">Shadows Into Light</option>
          <option class="ql-font-AbrilFatface" value="AbrilFatface">Abril Fatface</option>
          <option class="ql-font-Teko" value="Teko">Teko</option>
          <option class="ql-font-Cormorant" value="Cormorant">Cormorant</option>
          <option class="ql-font-AlfaSlabOne" value="AlfaSlabOne">Alfa Slab One</option>
          <option class="ql-font-PTSans" value="PTSans">PT Sans</option>
          <option class="ql-font-NanumPenScript" value="NanumPenScript">나눔 손글씨 펜</option>
          <option class="ql-font-NanumBrushScript" value="NanumBrushScript">나눔 손글씨 붓</option>
          <option class="ql-font-SongMyung" value="SongMyung">송명</option>
          <option class="ql-font-Gaegu" value="Gaegu">개구쟁이</option>
          <option class="ql-font-Jua" value="Jua">주아</option>
          <option class="ql-font-GamjaFlower" value="GamjaFlower">감자꽃 마을</option>
          <option class="ql-font-CuteFont" value="CuteFont">귀여운 폰트</option>
          <option class="ql-font-Stylish" value="Stylish">스타일리시</option>
          <option class="ql-font-YeonSung" value="YeonSung">연성</option>
          <option class="ql-font-HiMelody" value="HiMelody">하이멜로디</option>
          <option class="ql-font-Sunflower" value="Sunflower">해바라기</option>
          <option class="ql-font-BlackHanSans" value="BlackHanSans">검은고딕</option>
          <option class="ql-font-GothicA1" value="GothicA1">고딕 A1</option>
          <option class="ql-font-NanumGothic" value="NanumGothic">나눔고딕</option>
          <option class="ql-font-NanumMyeongjo" value="NanumMyeongjo">나눔명조</option>
          <option class="ql-font-PoorStory" value="PoorStory">서툰이야기</option>
          <option class="ql-font-BlackAndWhitePicture" value="BlackAndWhitePicture">흑백사진</option>
        </select>
    
    div.form-group.row.boko
      div.col-sm-1
        label(for='order') #{translation.Order}:
        input#order.form-control(type='text', placeholder='Order of story' name='order' value=(undefined===story ? '' : story.order) )

    div.form-group.row.boko
      div.col-sm-2
        label(for='chapter') #{translation.Chapter}:
        input#chapter.form-control(type='text', placeholder='Chapter of story' name='chapter' value=(undefined===story ? '' : story.chapter) )
    
    div.form-group.row.stro
      div.col-sm-2
        label(for='author') #{translation.Author}:
        input#author.form-control(type='text', placeholder='Author of story' name='author' value=(undefined===story ? '' : story.author) )

    div.form-group.row.stro
      div.col-sm-3
        label(for='reference') #{translation.Reference}:
        input#reference.form-control(type='text', placeholder='Reference of story' name='reference' value=(undefined===story ? '' : story.reference) )
    
    div.form-group.stro
      label #{translation.Genre}:
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', class='gne', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
            label(for=genre._id) #{genre.name}
    
    div.form-group.row
      div.col-sm-8
        label(for='Content') #{translation.Content}:
        <div id="toolbar-container" class="ql-toolbar ql-snow">
            <span class="ql-formats">
                <select class="ql-font" style="width: 150px;">
                    <option selected="">Sans Serif</option>
                    <option value="LibreFranklin">Libre Franklin</option>
                    <option value="inconsolata">Inconsolata</option>
                    <option value="roboto">Roboto</option>
                    <option value="mirza">Mirza</option>
                    <option value="arial">Arial</option>
                    <option value="Oswald">Oswald</option>
                    <option value="Caveat">Caveat</option>
                    <option value="Raleway">Raleway</option>
                    <option value="ShadowsIntoLight">Shadows Into Light</option>
                    <option value="AbrilFatface">Abril Fatface</option>
                    <option value="Teko">Teko</option>
                    <option value="Cormorant">Cormorant</option>
                    <option value="AlfaSlabOne">Alfa Slab One</option>
                    <option value="PTSans">PT Sans</option>
                    <option value="NanumPenScript">나눔 손글씨 펜</option>
                    <option value="NanumBrushScript">나눔 손글씨 붓</option>
                    <option value="SongMyung">송명</option>
                    <option value="Gaegu">개구쟁이</option>
                    <option value="Jua">주아</option>
                    <option value="GamjaFlower">감자꽃 마을</option>
                    <option value="CuteFont">귀여운 폰트</option>
                    <option value="Stylish">스타일리시</option>
                    <option value="YeonSung">연성</option>
                    <option value="HiMelody">하이멜로디</option>
                    <option value="Sunflower">해바라기</option>
                    <option value="BlackHanSans">검은고딕</option>
                    <option value="GothicA1">고딕 A1</option>
                    <option value="NanumGothic">나눔고딕</option>
                    <option value="NanumMyeongjo">나눔명조</option>
                    <option value="PoorStory">서툰이야기</option>
                    <option value="BlackAndWhitePicture">흑백사진</option>
                </select>
            </span>
            <span class="ql-formats">
                <select class="ql-header"></select>
                <select class="ql-size">
                    <option value="1em">1em</option>
                    <option value="1.5em">1.5em</option>
                    <option value="2em">2em</option>
                    <option value="2.5em">2.5em</option>
                    <option value="3em">3em</option>
                    <option value="3.5em">3.5em</option>
                    <option value="4em">4em</option>
                    <option value="6em">6em</option>
                    <option value="8em">8em</option>
                    <option value="10em">10em</option>
                </select>
            </span>
            <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
                <select class="ql-color"></select>
                <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-script" value="sub"></button>
                <button class="ql-script" value="super"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-blockquote"></button>
                <button class="ql-code-block"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <select class="ql-align"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-link"></button>
                <button class="ql-image"></button>
                <button class="ql-video"></button>
                <button class="ql-formula"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-indent" value="-1"></button>
                <button class="ql-indent" value="+1"></button>
                <button class="ql-direction" value="rtl"></button>
                <button class="ql-clean"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-omega"></button>
            </span>
        </div>        
        div#snow-container(spellcheck='false' style='height: 900px;')
        input#content.form-control(type='hidden', name='content' value=(undefined===story ? '' : story.content) )

    div.form-group.row.stro
      div.col-sm-1
        label(for='open') #{translation.Open}:
        select#open.form-control(type='select', placeholder='Select Open' name='open')
          option(value='N' selected=(undefined===story ? 'selected' : story.open=='N' ? 'selected' : false) ) N
          option(value='Y' selected=(undefined===story ? false : story.open=='Y' ? 'selected' : false) ) Y
        <br><br>
    button.btn.btn-primary(type='button', onclick='preview();return false;' style='margin-top: 20px;') #{translation.Preview}
    <br><br>
    button.btn.btn-primary(type='button', onclick='storyPost();return false;') #{translation.Submit}
    <input type="hidden" id="hostname" name="hostname" value="#{hostname}" />
    <input type="hidden" id="btitle" name="btitle" value="" />
    <input type="hidden" id="cptr" name="cptr" value="#{translation.Copy}" />
    <input type="hidden" id="Uploaded" name="Uploaded" value="#{translation.Uploaded}" />
    <input type="hidden" id="UploadFailed" name="UploadFailed" value="#{translation.UploadFailed}" />
    <input type="hidden" id="Delete" name="Delete" value="#{translation.Delete}" />
    <input type="hidden" id="DELETED" name="DELETED" value="#{translation.DELETED}" />
    input#story_id.form-control(type='hidden', name='story_id' value=(undefined===story ? '' : story._id) )
  if story
    if files
      table(class='table table-striped table-bordered table-hover table-condensed' style='margin-top: 20px;')
        tbody.ftd
          for file in files
            tr
              td
                <span id="#{file._id}">#{file.file_path}</span>
                <button onclick="CopyFilePath('#{file._id}');return false;">#{translation.Copy}</button>
                <button onclick="DeleteFile('#{file._id}','#{file.file_path}');return false;">#{translation.Delete}</button>
    form#fileUpload(method="POST", enctype="multipart/form-data")
      input(type="file" name="file")
      input(type='hidden' name='storyId' value=story._id)
      input(type='submit' value=translation.FileUpload)      

  <a href="#" id="OpenModal" data-toggle="modal" data-target="#exampleModal"></a>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">#{translation.Tooltip}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">#{translation.ImageAddress}:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">#{translation.Definition}:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="tcls">#{translation.Close}</button>
          <button type="button" class="btn btn-primary" id="InsertTooltip">#{translation.InsertTooltip}</button>
        </div>
      </div>
    </div>
  </div>
  
  <a href="#" id="OpenVideo" data-toggle="modal" data-target="#videoModal"></a>

  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="videoModalLabel">Youtube</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="video_src" class="col-form-label">URL:</label>
              <input type="text" class="form-control" id="video_src">
            </div>
            <div class="form-group">
              <label for="video_width" class="col-form-label">Width:</label>
              <input type="text" class="form-control" id="video_width">
            </div>
            <div class="form-group">
              <label for="video_height" class="col-form-label">Height:</label>
              <input type="text" class="form-control" id="video_height">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="vcls">#{translation.Close}</button>
          <button type="button" class="btn btn-primary" id="InsertVideo">Insert Youtube</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="overlay"></div>
  <div class="spanner">
    <div class="loader"></div>
    <p>#{translation.UploadingFile}</p>
  </div>

  div(style='margin-bottom: 50px;')

  <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="/js/quill_setting.js"></script>
  <script src="/js/storyUpdate.js"></script>
