doctype html
html(lang='en')
  head
    <title>!{story.title}</title>
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stylish" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    script(src='/js/practice.js')
    script(src='/js/stjs.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/practice.css')
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  body(style=(undefined===cfnt ? '' : 'font-family:'+cfnt))
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar" style="background-color:#e74c3c!important;">
      <a class="navbar-brand" href="#none" onclick="home();return false;">#{translation.HOME}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          if story.book
            li.nav-item.dropdown
              a#story.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{translation.STORYINDEX}
              div#index.dropdown-menu(aria-labelledby='story')
          if pc
            li.nav-item
              a.nav-link(href='#none' onclick='ReadingOnly();return false;') #{translation.Reading}
            li.nav-item
              a.nav-link(href='#none' onclick='storyTooltip();return false;') #{translation.LearnReading}
            li.nav-item
              a.nav-link(href='#none' onclick='ReadingSearch();return false;') #{translation.DicSearch}
            li.nav-item
              a.nav-link(href='#none' onclick='ReadingPractice();return false;') #{translation.Practice}
            li.nav-item
              a.nav-link(href='#none' onclick='showWordLayer();return false;') #{translation.Words}
            li.nav-item
              a.nav-link(href='#none' onclick='hideWordLayer();return false;') #{translation.Memo}
            li.nav-item
              a.nav-link(href='#none' onclick='CreateStory();return false;') #{translation.Create}
            li.nav-item
              <a class="nav-link" href="#none" onclick="UpdateStory('#{story.user}', '#{userId}');return false;">#{translation.Update}</a>
            li.nav-item
              <a class="nav-link" href="#none" onclick="DeleteStory('#{story.user}', '#{userId}');return false;">#{translation.Delete}</a>
            li.nav-item
              <a class="nav-link" href="#none" onclick="BookMark();return false;">#{translation.BookMark}</a>
          else
            li.nav-item
              a.nav-link(href='#none' onclick='showReadingOnlyLayer();return false;') #{translation.Reading}
            li.nav-item
              a.nav-link(href='#none' onclick='storyTooltip();return false;') #{translation.LearnReading}
            li.nav-item
              a.nav-link(href='#none' onclick='showWordOnlyLayer();return false;') #{translation.Words}
            li.nav-item
              a.nav-link(href='#none' onclick='showMemoOnlyLayer();return false;') #{translation.Memo}
          li.nav-item
            a.nav-link(href='#none' onclick='books();return false;') #{translation.BOOK}
          li.nav-item
            a.nav-link(href='#none' onclick='stories();return false;') #{translation.STORY}
          li.nav-item
            a.nav-link(href='#none' onclick='story_open_list();return false;') #{translation.BOARD}
          if user
            li.nav-item
              a.nav-link(href='#none' onclick='logout();return false;') #{translation.LOGOUT}
          else
            li.nav-item
              a.nav-link(href='#none' onclick='login();return false;') #{translation.LOGIN}
            li.nav-item 
              a.nav-link(href='#none' onclick='registration();return false;') #{translation.SIGNUP}
        </ul>
      </div>
    </nav>
      
    div(class='container-fluid' style='padding: 0 0 0 0;')
      div#jb_content.col-lg-12
        div.ql-editor(style='padding: 50px 0 0 0; overflow-y: hidden;')
          if story.chapter 
            if story.title_font
              p(class=story.title_font, style='font-weight:bold;font-size: 2em') #{story.chapter}<br/><br/>
            else
              p(style='font-weight:bold;font-size: 2em') #{story.chapter}<br/><br/>
          if story.title_font
            if story.title_size
              <p style='font-weight:bold;font-size: #{story.title_size}' class='#{story.title_font}'>#{story.title}</p><br/><br/>
            else
              p(style='font-weight:bold;font-size: 2.5em', class=story.title_font) #{story.title}<br/><br/>
          else
            if story.title_size
              <p style='font-weight:bold;font-size: #{story.title_size}'>#{story.title}</p><br/><br/>
            else
              p(style='font-weight:bold;font-size: 2.5em') #{story.title}<br/><br/>
          if story.author 
            if story.title_font
              p(class=story.title_font) #{story.author}<br/><br/>
            else
              p #{story.author}<br/><br/>
          if story.reference 
            if story.title_font
              p(class=story.title_font) #{story.reference}<br/><br/>
            else
              p #{story.reference}<br/><br/>
          if anchor 
            if story.title_font
              <a href="none" class="#{story.title_font}" onclick="goBokM('#{anchor}');return false;">#{translation.BookMark}</a><br/><br/>
            else
              <a href="none" onclick="goBokM('#{anchor}');return false;">#{translation.BookMark}</a><br/><br/>
          div#st_content !{story.content}
        if story.open == 'Y'
          <div style="text-align: center; margin: 30px;"><button id="favs" type="submit" class="btn btn-primary">#{translation.favs}</button></div>
          <input type="hidden" id="facnt" name="facnt" value="#{story.favs}" />
          <input type="hidden" id="favy" name="favy" value="#{translation.favy}" />
          <input type="hidden" id="favn" name="favn" value="#{translation.favn}" />
          <input type="hidden" id="cmm" name="cmm" value="#{translation.cmm}" />
          <input type="hidden" id="smm" name="smm" value="#{translation.smm}" />
          <input type="hidden" id="cmm2" name="cmm2" value="#{translation.cmm2}" />
          <input type="hidden" id="cmm3" name="cmm3" value="#{translation.cmm3}" />
          <form id="cmf" method="post" action="/catalog/story/#{story._id}/comments/replies">
            <div class="form-group">
              <textarea name="content" class="form-control" id="reply-content" placeholder="Reply"></textarea>
            </div>
            <div class='text-right'>
              <button onclick="smf();return false;" class="btn btn-primary">#{translation.Save}</button>
            </div>
            <input type="hidden" id="sfkb" name="sfkb" value="#{story._id}" />
          </form>
          if comments
            for comment in comments
              - var cyn = ''
              if comment.comments != ''
                - cyn = 'Y'
              <span style="color: purple;">#{comment.user.name}</span>
              <div id="c_#{comment._id}">#{comment.content}</div>
              <div style="display: inline; float: right;">
                <span id="s_#{comment._id}" onclick="viewR(this);" class="replyB">#{translation.Reply}</span>
                <span id="u_#{comment._id}" onclick="viewU(this, '#{userId}');" class="replyB">#{translation.Update}</span>
                <span id="t_#{comment._id}" onclick="viewT(this, '#{userId}');" class="replyB">#{translation.Delete}</span>
              </div>
              <div id="d_#{comment._id}" style="display: none;">
                <form id="cmf_#{comment._id}" method="post" action="/catalog/story/#{story._id}/comments/#{comment._id}/replies">
                  <div class="form-group">
                    <textarea name="content" class="form-control" id="r_#{comment._id}" placeholder="Reply"></textarea>
                  </div>
                  <div class='text-right'>
                    <button id="b_#{comment._id}" onclick="smf2('#{comment._id}');return false;" class="btn btn-primary">#{translation.Save}</button>
                  </div>
                  <input type="hidden" id="sfkb" name="sfkb" value="#{story._id}" />
                  <input type="hidden" id="cyn_#{comment._id}" name="cyn" value="#{cyn}" />
                  <input type="hidden" id="cgb_#{comment._id}" name="cgb" value="R" />
                  <input type="hidden" id="uid_#{comment._id}" name="uid" value="#{comment.user._id}" />
                </form>
              </div>
              if comment.comments != ''
                each cmt in comment.comments
                  include pets-partial
                  +petslist(cmt)
      div#jb_memo.col-lg-6
        div.ql-editor(style='padding: 50px 0 0 0; height: 95%; overflow-y: auto;')
          div !{memo}
        <div style="display: inline-block; float: left; height: 30px; margin-top: 10px;">
          <input type="file" name="file2" id="file2" class="inputfile">
          <label for="file2" style="line-height: 30px; float: left;" title="#{translation.AudioDesc}">#{translation.Audio}</label>
          <audio controls id="myAudio2" style="line-height: 30px; float: right;" autoplay></audio>
        </div>
      div#jb_txtEditor.col-lg-6
        div.standalone-container
          <div id="toolbar-container" class="ql-toolbar ql-snow">
            <span class="ql-formats">
              <select class="ql-font" style="width: 150px;">
                <option selected="">Sans Serif</option>
                <option value="LibreFranklin">Libre Franklin</option>
                <option value="inconsolata">Inconsolata</option>
                <option value="roboto">Roboto</option>
                <option value="mirza">Mirza</option>
                <option value="arial">Arial</option>
                <option value="Oswald">Oswald</option>
                <option value="Caveat">Caveat</option>
                <option value="Raleway">Raleway</option>
                <option value="ShadowsIntoLight">Shadows Into Light</option>
                <option value="AbrilFatface">Abril Fatface</option>
                <option value="Teko">Teko</option>
                <option value="Cormorant">Cormorant</option>
                <option value="AlfaSlabOne">Alfa Slab One</option>
                <option value="PTSans">PT Sans</option>
                <option value="NanumPenScript">나눔 손글씨 펜</option>
                <option value="NanumBrushScript">나눔 손글씨 붓</option>
                <option value="SongMyung">송명</option>
                <option value="Gaegu">개구쟁이</option>
                <option value="Jua">주아</option>
                <option value="GamjaFlower">감자꽃 마을</option>
                <option value="CuteFont">귀여운 폰트</option>
                <option value="Stylish">스타일리시</option>
                <option value="YeonSung">연성</option>
                <option value="HiMelody">하이멜로디</option>
                <option value="Sunflower">해바라기</option>
                <option value="BlackHanSans">검은고딕</option>
                <option value="GothicA1">고딕 A1</option>
                <option value="NanumGothic">나눔고딕</option>
                <option value="NanumMyeongjo">나눔명조</option>
                <option value="PoorStory">서툰이야기</option>
                <option value="BlackAndWhitePicture">흑백사진</option>
              </select>
            </span>
            <span class="ql-formats">
              <select class="ql-header"></select>
              <select class="ql-size">
                <option value="1em">1em</option>
                <option value="1.5em">1.5em</option>
                <option value="2em">2em</option>
                <option value="2.5em">2.5em</option>
                <option value="3em">3em</option>
                <option value="3.5em">3.5em</option>
                <option value="4em">4em</option>
                <option value="6em">6em</option>
                <option value="8em">8em</option>
                <option value="10em">10em</option>
              </select>
            </span>
            <span class="ql-formats">
              <button class="ql-bold"></button>
              <button class="ql-italic"></button>
              <button class="ql-underline"></button>
              <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-color">
                <option selected></option>
                <option value="red"></option>
                <option value="orange"></option>
                <option value="yellow"></option>
                <option value="green"></option>
                <option value="blue"></option>
                <option value="purple"></option>
              </select>
              <select class="ql-background">
                <option selected></option>
                <option value="red"></option>
                <option value="orange"></option>
                <option value="yellow"></option>
                <option value="green"></option>
                <option value="blue"></option>
                <option value="purple"></option>
              </select>
            </span>
            <span class="ql-formats">
              <button class="ql-script" value="sub"></button>
              <button class="ql-script" value="super"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-blockquote"></button>
              <button class="ql-code-block"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
              <select class="ql-align"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-link"></button>
              <button class="ql-image"></button>
              <button class="ql-formula"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-indent" value="-1"></button>
              <button class="ql-indent" value="+1"></button>
              <button class="ql-direction" value="rtl"></button>
              <button class="ql-clean"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-omega"></button>
            </span>
          </div>          
          div#snow-container
          <!--<br><span>파일명: </span><input type="text" id="fileName">-->
          <br/><button type="button" value="save" id="save" onclick="saveMemo();return false;">#{translation.Save}</button>&nbsp;&nbsp;&nbsp;#{translation.afteradd}
          <div style="display: inline-block; float: left; height: 30px; margin-top: 10px;">
            if files
              table(class='table table-striped table-bordered table-hover table-condensed' style='margin-top: 20px;')
                tbody.ftd
                  for file in files
                    tr
                      td
                        <button onclick="cs_change_music('#{file.file_path}');return false;">#{file.file_name}</button>
            <input type="file" name="file" id="file" class="inputfile">
            <label for="file" style="line-height: 30px; float: left;" title="#{translation.AudioDesc}">#{translation.Audio}</label>
            <audio controls id="myAudio" style="line-height: 30px; float: right;" autoplay></audio>
          </div>
          <!--<span>예시) 파일명이 englishow 이면 englishow.html로 저장됨.</span>-->
      div#word_container.col-lg-6
        div.word_header.col-lg-6
          <button type="button" id="wordSave">#{translation.Save}</button>&nbsp;&nbsp;&nbsp;#{translation.checkedwordsonly}&nbsp;&nbsp;&nbsp;
          <button type="button" id="wordDelete">#{translation.Delete}</button>&nbsp;&nbsp;&nbsp;
          a(href='/catalog/word_board_list') #{translation.Words}
        table(class='table table-striped table-bordered table-hover table-condensed' style='margin-top: 55px;')
          thead
            tr
              th(style='text-align: center;')
                div.checkbox
                  input#checkall(type='checkbox')
              th #{translation.WordCol1}
              th #{translation.WordCol2}
          tbody.wtd
            each word, i in word_list
              tr
                td(style='text-align: center;') 
                  div.checkbox
                    input(type='checkbox' class='wList' value=word._id)
                td
                  input(type='text' size='15' maxlength='30' class='form-control ipt' value=word.title)
                  input(type='hidden' class='form-control iph' value=word.image_address)
                  select.importance.form-control(type='select', style='margin-top: 10px;')
                    option(value='1' selected=(word.importance==='1' ? 'selected' : false) ) #{translation.NotImportance}
                    option(value='2' selected=(word.importance==='2' ? 'selected' : false) ) #{translation.Important}
                    option(value='3' selected=(word.importance==='3' ? 'selected' : false) ) #{translation.VeryImportance}
                    option(value='4' selected=(word.importance==='4' ? 'selected' : false) ) #{translation.Indispensable}
                td
                  textarea(class='form-control txt' rows='1' cols='45') #{word.content}
                  select.skill.form-control(type='select', style='display: inline; width: 200px; margin-top: 10px;')
                    option(value='1' selected=(word.skill==='1' ? 'selected' : false) ) #{translation.NotKnow}
                    option(value='2' selected=(word.skill==='2' ? 'selected' : false) ) #{translation.SawSeveralTime}
                    option(value='3' selected=(word.skill==='3' ? 'selected' : false) ) #{translation.BeUsedTo}
                    option(value='4' selected=(word.skill==='4' ? 'selected' : false) ) #{translation.RememberComplete}
                  <button type="button" class="btn btn-primary" style="display: inline; float: right; margin-top: 8px;" onclick="imgAddress(#{i})">#{translation.ImageAddress}</button>
        <button type="button" id="wordAdd">#{translation.Add}</button>&nbsp;&nbsp;&nbsp;#{translation.afteradd}
      div#word_only_container.col-lg-12
        p(style='font-weight:bold;font-size: 2.5em;margin-top:30px;') #{story.title}<br/><br/>
        ul.wsd
          each word in word_list
            li(style='font-weight:bold') #{word.title}<br/>#{word.content}
      div#jb_only_txtEditor.col-lg-12
        p(style='font-weight:bold;font-size: 2.5em;margin-top:30px;') #{story.title}<br/><br/>
        div !{memo}
      div#jb_sidebar.col-lg-6
        <span style="float:left;margin-top:10px;">#{translation.dictionary} : </span>
        <input type="text" id="searchWord" name="searchWord" class="form-control" style="width:150px;float:left;" />
        <input type="button" style="float:left;margin-left:20px;" class="btn btn-primary" id="searchWordButton" value="#{translation.Search}"/>
        <input type="checkbox" style="float:left;margin-left:20px;margin-top:10px;" id="myCheck"> 
        <span style="float:left;margin-left:20px;margin-top:10px;">#{translation.ImageSearch}</span>  
        <input type="button" style="float:left;margin-left:20px;" class="btn btn-primary" id="translateButton" value="#{translation.Translation}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="treeview1" class=""></div>
    <input type="hidden" id="story_id" name="story_id" value="#{story._id}" />
    <input type="hidden" id="book_id" name="book_id" value="#{book_id}" />
    <input type="hidden" id="book" name="book" value="#{book_id}" />
    <input type="hidden" id="story_title" name="story_title" value="#{story.title}" />
    <input type="hidden" id="book_title" name="book_title" value="#{book_title}" />
    <input type="hidden" id="memo" name="memo" value="#{memo}" />
    <input type="hidden" id="memo_id" name="memo_id" value="#{memo_id}" />
    <input type="hidden" id="bookMark_id" name="bookMark_id" value="#{bookMark_id}" />
    <input type="hidden" id="hostname" name="hostname" value="#{hostname}" />
    <input type="hidden" id="stusr" name="stusr" value="#{story.user}" />
    <input type="hidden" id="SAVED" name="SAVED" value="#{translation.SAVED}" />
    <input type="hidden" id="DELETED" name="DELETED" value="#{translation.DELETED}" />
    <input type="hidden" id="Delete" name="Delete" value="#{translation.Delete}" />
    <input type="hidden" id="pc" name="pc" value="#{pc}" />
    <input type="hidden" id="dmm" name="dmm" value="#{translation.dmm}" />
    <input type="hidden" id="NotImportance" name="NotImportance" value="#{translation.NotImportance}" />
    <input type="hidden" id="Important" name="Important" value="#{translation.Important}" />
    <input type="hidden" id="VeryImportance" name="VeryImportance" value="#{translation.VeryImportance}" />
    <input type="hidden" id="Indispensable" name="Indispensable" value="#{translation.Indispensable}" />
    <input type="hidden" id="NotKnow" name="NotKnow" value="#{translation.NotKnow}" />
    <input type="hidden" id="SawSeveralTime" name="SawSeveralTime" value="#{translation.SawSeveralTime}" />
    <input type="hidden" id="BeUsedTo" name="BeUsedTo" value="#{translation.BeUsedTo}" />
    <input type="hidden" id="RememberComplete" name="RememberComplete" value="#{translation.RememberComplete}" />
    <input type="hidden" id="ImageAddress" name="ImageAddress" value="#{translation.ImageAddress}" />
    <input type="hidden" id="tooltip" name="tooltip" value="#{tooltip}" />
    <form id="ftlp" method="post" action="/catalog/story/#{story._id}">
      <input type="hidden" name="tlp" value="y" />
    </form>
    
    <div id="img_layer" style="display:none;position:fixed;left:34%;top:60px;width:500px;height:90%;overflow:auto;background:#fff;z-index: 3;">
      <button type="button" style="position:relative;left:230px;width:50px; "onclick="javascript:$('#img_layer').css('display','none');">#{translation.Close}</button>
      <div id="show_img"></div>
      <button type="button" style="position:relative;left:230px;width:50px; "onclick="javascript:$('#img_layer').css('display','none');">#{translation.Close}</button>
    </div>

    <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
    
    <a href="#" id="OpenModal" data-toggle="modal" data-target="#exampleModal"></a>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">#{translation.Tooltip}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">#{translation.ImageAddress}:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">#{translation.Definition}:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="tcls">#{translation.Close}</button>
            <button type="button" class="btn btn-primary" id="InsertTooltip">#{translation.InsertTooltip}</button>
          </div>
        </div>
      </div>
    </div>

    <a href="#" id="ImageModal" data-toggle="modal" data-target="#imgAddrModal"></a>

    <div class="modal fade" id="imgAddrModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="imgModalLabel">#{translation.Tooltip}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="w_name" class="col-form-label">#{translation.Word}:</label>
                <input type="text" class="form-control" id="w_name" readOnly>
              </div>
              <div class="form-group">
                <label for="iddr_name" class="col-form-label">#{translation.ImageAddress}:</label>
                <input type="text" class="form-control" id="iddr_name">
              </div>
            <input type="hidden" id="w_id" name="w_id" value=""/>
            <input type="hidden" id="widx" name="widx" value=""/>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="tcs">#{translation.Close}</button>
            <button type="button" class="btn btn-primary" id="InsertImgAddr">#{translation.InsertTooltip}</button>
          </div>
        </div>
      </div>
    </div>    

    <a href="#" id="TranslationModal" data-toggle="modal" data-target="#translateModal"></a>

    <div class="modal fade" id="translateModal" tabindex="-1" role="dialog" aria-labelledby="translateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="translateModalLabel">#{translation.Translation}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            p#translatedText
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="tcs">#{translation.Close}</button>
          </div>
        </div>
      </div>
    </div>    
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/js/quill_setting.js"></script>
    script(src='/js/bootstrap_treeview.js')
  
