extends layout

block content
  h1(style='margin-top:100px;') #{translation.StoryList}
  
  ul.tite
    each story in story_list
      li 
        a(href=story.url) !{story.title} (#{story.len})

    else
      li #{translation.nostories}
