extends layout

block content
  h1(style='margin-top:100px;') #{translation.StoryList}
  
  ul.tite
    each story in story_list
      li 
        a(href=story.url) !{story.title} (#{story.len}) &nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/catalog/story/'+story._id+'/download') #{translation.Download}

    else
      li #{translation.nostories}

  h2 #{translation.HowToUseStory}
  ul
    li(style='font-weight: bold;') #{translation.HowToUseStory2}
    li(style='font-weight: bold;') #{translation.HowToUseStory3}
    li(style='font-weight: bold;') #{translation.HowToUseStory4}
    li(style='font-weight: bold;') #{translation.HowToUseStory5}
    li(style='font-weight: bold;') #{translation.HowToUseStory6}
    li(style='font-weight: bold;') #{translation.HowToUseStory7}
    li(style='font-weight: bold; color: blue;') #{translation.HowToUseStory8}
    li(style='font-weight: bold; color: blue;') #{translation.HowToUseStory9}
