extends layout

block content
	h1(style='margin-top:100px;') #{translation.WordList}
	h5(style='margin-top:20px; color:#800080;') #{translation.OpenTipWords}
	<div>
		<form method="post" action="/catalog/word_board_list">
			<div class="form-group row" style="float: right;">
				<p style="height: 30px;padding-top: 10px; margin-right:10px;">#{translation.Skill}</p>&nbsp;&nbsp;&nbsp;
				select.skill.form-control(type='select', style='width: 100px; margin-right:10px;' name='skill')
					option(value='' selected=(skill==='' ? 'selected' : false) ) #{translation.Select}
					option(value='1' selected=(skill==='1' ? 'selected' : false) ) #{translation.NotKnow}
					option(value='2' selected=(skill==='2' ? 'selected' : false) ) #{translation.SawSeveralTime}
					option(value='3' selected=(skill==='3' ? 'selected' : false) ) #{translation.BeUsedTo}
					option(value='4' selected=(skill==='4' ? 'selected' : false) ) #{translation.RememberComplete}
				<p style="height: 30px;padding-top: 10px; margin-right:10px;">#{translation.Importance}</p>&nbsp;&nbsp;&nbsp;
				select.importance.form-control(type='select', style='width: 100px; margin-right:10px;' name='importance')
					option(value='' selected=(importance==='' ? 'selected' : false) ) #{translation.Select}
					option(value='1' selected=(importance==='1' ? 'selected' : false) ) #{translation.NotImportance}
					option(value='2' selected=(importance==='2' ? 'selected' : false) ) #{translation.Important}
					option(value='3' selected=(importance==='3' ? 'selected' : false) ) #{translation.VeryImportance}
					option(value='4' selected=(importance==='4' ? 'selected' : false) ) #{translation.Indispensable}
				<p style="height: 30px;padding-top: 10px;">#{translation.SearchTipWords}</p>&nbsp;&nbsp;&nbsp;
				<input type="text" id="stle" name="stle" class="form-control" style="width:300px; margin-right:10px;"/>
				<button type="submit" class="btn btn-primary" style="margin-right:15px;">#{translation.Search}</button>
			</div>
		</form>
	</div>
	table(class='table table-striped table-hover table-condensed' style='margin-top: 10px;')
		if pc
			thead
				tr
					th(width='5%') #{translation.Rownum}
					th(width='15%') #{translation.Word}
					th(width='30%') #{translation.Meaning}
					th(width='20%') #{translation.Story}
					th(width='10%') #{translation.Skill}
					th(width='10%') #{translation.Importance}
					th(width='10%') #{translation.CreateDate}
			tbody.wtd
				if word_board_list
					each word in word_board_list
						tr
							td
								span #{word.rownum}
							td
								span #{word.title}
							td
								span #{word.content}
							td
								if word.story
									a(href='/catalog/story/'+word.story._id) #{word.story.title}
							td
								if word.skill=='1'
									span #{translation.NotKnow}
								if word.skill=='2'
									span #{translation.SawSeveralTime}
								if word.skill=='3'
									span #{translation.BeUsedTo}
								if word.skill=='4'
									span #{translation.RememberComplete}
							td
								if word.importance=='1'
									span #{translation.NotImportance}
								if word.importance=='2'
									span #{translation.Important}
								if word.importance=='3'
									span #{translation.VeryImportance}
								if word.importance=='4'
									span #{translation.Indispensable}
							td
								span #{word.cdate}
				else
					tr
						td(colspan='7')
							#{translation.nostories}
		else
			thead
				tr
					th(width='5%') #{translation.Rownum}
					th(width='35%') #{translation.Word}
					th(width='60%') #{translation.Meaning}
			tbody.wtd
				if word_board_list
					each word in word_board_list
						tr
							td
								span #{word.rownum}
							td
								span #{word.title}
							td
								span #{word.content}
				else
					tr
						td(colspan='3') 
							#{translation.nostories}
	<a href="#" id="back-to-top" title="Back to top">&uarr;</a>
	<input type="hidden" id="mxcnt" name="mxcnt" value="#{mxcnt}" />
	<input type="hidden" id="ct" name="ct" value="#{ct}" />
	<input type="hidden" id="hostname" name="hostname" value="#{hostname}" />
	<input type="hidden" id="pc" name="pc" value="#{pc}" />
	<script src="/js/wordBoard.js"></script>		