<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="/stylesheets/font-awesome.4.7.0.css.font-awesome.min.css" rel="stylesheet">
    
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/practice.css')
    <link rel="stylesheet" href="/stylesheets/bootstrap.4.3.1.css.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/1.3.6.quill.bubble.css" />

    <script src="/js/kit.fontawesome.com.e5e4a7b53c.js" crossorigin="anonymous"></script>
    
    <title>Word Popup Editor</title>
  </head>
  body(style=(undefined===cfnt ? (undefined===cfwt ? 'text-align: center;' : 'font-weight:'+cfwt+'; text-align: center;') : (undefined===cfwt ? 'font-family:'+cfnt+'; text-align: center;' : 'font-family:'+cfnt+';font-weight:'+cfwt+'; text-align: center;')))
    
    <div style="height: 40px; text-align: center;">
      <h3 style="display: inline; line-height: 45px;">#{word.title}</h3>
      <button style="margin-left: 30px; margin-bottom: 5px;" class="btn btn-outline-dark btn-sm"><i class="fas fa-image" id="img"></i></button>
      <button style="margin-left: 30px; margin-bottom: 5px;" class="btn btn-outline-dark btn-sm"><i class="fas fa-volume-up" id="ado"></i></button>
      <button style="margin-left: 30px; margin-bottom: 5px;" class="btn btn-outline-dark btn-sm"><i class="fab fa-youtube" id="youtu"></i></button>
    </div>
    <div style="text-align: center;">
      <div style="display: inline-block; vertical-align: middle;">
        <div id="toolbar-container" class="ql-toolbar ql-bubble">
          <span class="ql-formats">
            <select class="ql-font" style="width: 150px;">
              <option selected="">Sans Serif</option>
              <option value="WorkSans">Work Sans</option>
              <option value="LibreFranklin">Libre Franklin</option>
              <option value="Inconsolata">Inconsolata</option>
              <option value="roboto">Roboto</option>
              <option value="mirza">Mirza</option>
              <option value="arial">Arial</option>
              <option value="Oswald">Oswald</option>
              <option value="Caveat">Caveat</option>
              <option value="Raleway">Raleway</option>
              <option value="ShadowsIntoLight">Shadows Into Light</option>
              <option value="AbrilFatface">Abril Fatface</option>
              <option value="Teko">Teko</option>
              <option value="Cormorant">Cormorant</option>
              <option value="AlfaSlabOne">Alfa Slab One</option>
              <option value="PTSans">PT Sans</option>
              <option value="NanumPenScript">나눔 손글씨 펜</option>
              <option value="NanumBrushScript">나눔 손글씨 붓</option>
              <option value="SongMyung">송명</option>
              <option value="Gaegu">개구쟁이</option>
              <option value="Jua">주아</option>
              <option value="GamjaFlower">감자꽃 마을</option>
              <option value="CuteFont">귀여운 폰트</option>
              <option value="Stylish">스타일리시</option>
              <option value="YeonSung">연성</option>
              <option value="HiMelody">하이멜로디</option>
              <option value="Sunflower">해바라기</option>
              <option value="BlackHanSans">검은고딕</option>
              <option value="GothicA1">고딕 A1</option>
              <option value="NanumGothic">나눔고딕</option>
              <option value="NanumMyeongjo">나눔명조</option>
              <option value="PoorStory">서툰이야기</option>
              <option value="BlackAndWhitePicture">흑백사진</option>
            </select>
          </span>
          <span class="ql-formats">
            <select class="ql-header"></select>
            <select class="ql-size">
              <option value="1em">1em</option>
              <option value="1.5em">1.5em</option>
              <option value="2em">2em</option>
              <option value="2.5em">2.5em</option>
              <option value="3em">3em</option>
              <option value="3.5em">3.5em</option>
              <option value="4em">4em</option>
              <option value="6em">6em</option>
              <option value="8em">8em</option>
              <option value="10em">10em</option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-blockquote"></button>
            <button class="ql-code-block"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <select class="ql-align"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-formula"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
            <button class="ql-direction" value="rtl"></button>
            <button class="ql-clean"></button>
          </span>
        </div>        
        input#wtitle(type='text' maxlength='100' style='margin: 10px 0; width: 600px;' class='form-control form-control-sm' value=word.content)
        div#bubble-container(spellcheck='false' style='margin: 10px 0; width: 600px; height: 420px; border: 1px solid #bcbcbc;')
        input#add_content(type='hidden', name='add_content' value=word.add_content)
        input#w_id(type='hidden', name='w_id' value=word._id)
        <input type="hidden" id="hostname" name="hostname" value="#{hostname}" />
        <input type="hidden" id="SAVED" name="SAVED" value="#{translation.SAVED}" />
        button.btn.btn-outline-primary.btn-sm(type='button', onclick='wordPost();return false;' style='margin: 10px;') #{translation.Submit}
        button.btn.btn-outline-dark.btn-sm(type='button', onclick='self.close();return false;' style='margin: 10px;') #{translation.Close}

    <a href="#" id="OpenVideo" data-toggle="modal" data-target="#videoModal"></a>

    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="videoModalLabel">Youtube</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="video_src" class="col-form-label" style="text-align: left;">URL:</label>
                <input type="text" class="form-control form-control-sm" id="video_src">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="vcls">#{translation.Close}</button>
            <button type="button" class="btn btn-primary btn-sm" id="InsertVideo">Insert Youtube</button>
          </div>
        </div>
      </div>
    </div>
    
    <script src="/js/1.3.6.quill.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/ajax.libs.popper.js.1.14.7.umd.popper.min.js"></script>
    <script src="/js/bootstrap.4.3.1.js.bootstrap.min.js"></script>
    <script src="/js/quill_setting_popup.js"></script>
    <script src="/js/wordPopup.js"></script>
  </body>
</html>
